.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 9;
  box-shadow: 5px 10px 60px 0 rgba(80, 80, 80, 0.06);

  .container-fluid {
    padding: 0 !important;
  }

  .nav-link {
    color: #DE302F;
    font-size: 14px;
    font-weight: 500;
  }

  .navbar-toggler {
    color: #DE302F;

    &:focus {
      box-shadow: none;
    }
  }

  .navbar-collapse {
    background: white;
    padding: 0 15px;
    box-shadow: 5px 10px 60px 0 rgba(80, 80, 80, 0.06);

    @media (min-width: 768px) {
      background: transparent;
      padding: 0;
    }
  }
}